@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.highlights {
  border-radius: 5px;
  width: 25%;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Kaisei HarunoUmi;
  flex-wrap: wrap;
}

.tag {
  color: white;
  background-color: rgb(54, 54, 54);
  border: none;
  border-radius: 2px;
  /* margin: 0.2rem; */
  padding: 0.5rem;
}
